.webform-component-cloudupload .cloud-picker {
  font-weight: 700;
  border-radius: 8px;
  border: 1px solid #124395;
  display: inline-block;
  margin-right: 5px;
  line-height: initial;
  text-align: center;
  min-width: 88px;
  min-height: 95px;
  box-sizing: border-box;
}

.webform-component-cloudupload a span{
  display: block;
  margin-top: 15px;
}

.webform-component-cloudupload a:hover span,
.webform-component-cloudupload a:focus span {
  text-decoration: underline;
}

.webform-component-cloudupload .cloud-picker:before {
  content: '';
  display: inline-block;
  height: 40px;
  width: 40px;
  position: relative;
  top: 6px;
}

.webform-component-cloudupload .dropbox-picker a:before {
  background-image: url('../images/dropbox-logo.png');
}

.webform-component-cloudupload .google-picker a:before {
  background-image: url('../images/googledrive-logo.png');
}

.webform-component-cloudupload .file-list ul {
  border: none;
  padding: 0;
  margin: 20px 0;
}

.webform-component-cloudupload .file-list li {
  background-color: #124395;
  padding: 18px 40px 18px 25px;
  margin-bottom: 20px;
  list-style: none;
  line-height: 1;
}

.webform-component-cloudupload .file-list li a {
  color: #fff;
}

.webform-component-cloudupload .file-list li .remove-link {
  color: #fff;
  font-style: italic;
  text-decoration: none;
  margin-right: 10px;
}

.webform-component-cloudupload .file-list li span {
  position: relative;
  top: 25%;
  line-height: 1;
}

.webform-component-cloudupload .file-list li .upload-component {
  float: right;
}

.webform-component-cloudupload .file-list li .upload-component a {
  padding-left: 10px;
  color: #fff;
}

.webform-component-cloudupload .file-list li .upload-component a:hover,
.webform-component-cloudupload .file-list li .upload-component a:focus {
  text-decoration: underline;
}
